html {

}

body {
	font-family: Raleway, Open Sans, Droid Sans, Roboto, arial, sans-serif;
}

.background {
	background: url(images/bg1.jpg) no-repeat center center fixed;
	background-size: cover;
	display: block;
	filter: blur(2px);
	-webkit-filter: blur(2px);
	height: 100%;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 1;
}

.box1 {
	background: rgba(0, 0, 0, 0.35);
	border-radius: 3px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	font-family: Raleway;
	padding: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	text-align: center;
	font: 10px;
}

#search input[type="text"] {
	background: url(images/search-white.png) no-repeat 10px 6px #fcfcfc;
	border: 1px solid #d1d1d1;
	font: bold 12px Arial, Helvetica, Sans-serif;
	color: #bebebe;
	width: 300px;
	padding: 6px 15px 6px 35px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-webkit-transition: all 0.7s ease 0s;
	-moz-transition: all 0.7s ease 0s;
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s;
}

.text_content {
	font-family: 'Roboto';
	color:#b9b9b9;
}

.header {
	font-family: 'Erica One', cursive;
	font-size: 70px;
	text-align: center;
	text-shadow: 2px 2px #000000;
	color: white;
}

.box1 li {
	font-family: 'Roboto';
	font: 10px;
}

.latest_movies a, a:visited {
	color: white;
	text-decoration: none;
}

.latest_movies a:hover {
	color: #dfdfdf;
	text-decoration: none;
}

#movie_details {
    width: 590px;
    height: auto;
    float: left;
    margin: 5px;
    font-family: 'Roboto';
	color: white;
	text-align: left;
}

#movie_poster {
    width:auto;
    height: auto;
    margin: 5px;
    float: left;
}

#movie_trailer {
    width: auto;
    height: auto;
    margin: 5px;
    clear: both;
}

.inmoviedetails
{
	width: 800px;
}

.text_white
{
	display: inline-block;
	width: 80px;
}

.text_gray
{
	color: #bebebe;
	display: inline-block;
}